.profile{
    width:30%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.title{
    font-size:30px;
    color:black;
    letter-spacing:3px;
    text-align:center;
}

.text{
    font-size:20px;
    text-align:center;
}

.img{
    width:100%;
    height:100%;
    border-radius:50%
}

p {
    text-align:center;
    color:rgb(1, 37, 1);
}

#special{
    font-weight:bold;
    color:red;
    color : blue;
}

.content{
    color : red;
}

.box{
    width: 200px;
    height: 100px;
    background-color: cadetblue;   
    padding: 10%;
    border: 4px dotted rgb(14, 14, 14);
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 15px;
    box-shadow: 10px 10px 10px 10px gray, 10px 10px 10px 10px yellow;
}

.container{
    width: 800px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
    /* vertical-align: top; */
}

.right{
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: gray;
}

.main-background{
    width:100%;
    height:800px;
    background-image: url(/resources/장군님.jpg), url(/resources/구글.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    filter:brightness(80%);
    padding: 1px;
}

.main-background a:hover{
    color:rgb(174, 247, 247);
}

.main-title{
    color:white;
    font-size: 40px;
    margin-top: 300px; 
    /* margin-collapse 현상 -> 박스들의 테두리가 만나면 margin이 합쳐짐(내부, 외부 상관 x) */   
    margin-left: 100px;
}

.main-content{
    margin-left: 100px;
    color: #434343;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(211, 211, 211);
    padding:10px;
    border-radius:5%;
}